
.vacant-card{
    width: 100%;
    display:flex;
    background:white;
    border:1px solid #3b82f6;
    border-radius:25px;
    overflow:hidden;
    min-height:350px;
    box-shadow:0 4px 6px rgba(0,0,0,0.05);
    padding: 1em;
}

.vacant-details-col{
    width: 90%;
}

.vacant-title{
    font-weight: bold;
}

.vacant-salary, .vacant-area, .vacant-location{
    font-weight: normal;
    font-size: 1.2em;
}

.vacant-resume{
    font-size: 1.5em;
}

.vacant-apply-button{
    width: 25%;
    min-width: 200px;
    background-color: #001f3f;
    margin-top: 4%;
    padding: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    text-align: center;
}

.vacant-apply-text{
    font-size: 1.8em;
    color: rgb(220, 244, 255);
}

.vacant-details-buttons{
    width: 10%;
    text-align: center;
}

#vacant-heart, #vacant-like{
    font-size: 1.8em;
    cursor: pointer;
}


/*MODAL*/

.vacant-modal-overlay{display:none;position:fixed;z-index:2000;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);backdrop-filter:blur(4px);align-items:center;justify-content:center;}
.vacant-modal-content{background-color:white;padding:30px;border-radius:12px;width:90%;max-width:500px;position:relative;box-shadow:0 10px 25px rgba(0,0,0,0.2);animation:modalFadeIn 0.3s ease-out;font-family:"Segoe UI",sans-serif;}
.close-btn{position:absolute;top:15px;right:20px;color:#aaa;font-size:28px;font-weight:bold;cursor:pointer;transition:color 0.2s;line-height:1;}
.close-btn:hover{color:#002b49;}

/*ANIMACIONES*/
@keyframes modalFadeIn{from{opacity:0;transform:translateY(-20px);}
to{opacity:1;transform:translateY(0);}
}
/*RESPONSIVE*/
@media (max-width:768px){.vacant-apply-button{width:100%;margin-top:20px;}
}
