.grupo-horizontal{display:flex;gap:20px;margin-bottom:15px;}
.campo-individual{flex:1;}




/* RESPONSIVE */
@media screen and (max-width: 850px) {
    .container{flex-direction:column;min-height:auto;padding:10px;}
    .grupo-horizontal{flex-direction:column;gap:10px;margin-bottom:0;}
    .campo-individual{width:100%;margin-bottom:15px;}

}